## by F.C.
## Last edit: 09/03/2025 (kernel 6.12)

## Enable STD Kernel compression mode (all major distros use it).
## These settings concern compression of the kernel, not modules.
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_ZSTD=y

## Get rid of possible warnings in libbpf. Note: to run eBPF programs,
## CONFIG_BPF_PRELOAD=y and CONFIG_BPF_PRELOAD_UMD=m are not required.
# CONFIG_BPF_PRELOAD is not set

## Enables kernel preemption to provide a high degree of responsiveness
## (best setup for desktop systems). This allows applications to run more
## 'smoothly' even when the system is under load, at the cost of slightly
## lower throughput and a small runtime overhead for kernel code.
# CONFIG_PREEMPT_VOLUNTARY is not set
CONFIG_PREEMPT=y

## Expert adjustments to RCU configuration, like CachyOS and
## TKG kernels (considered the best for desktops and gaming).
CONFIG_RCU_EXPERT=y
CONFIG_RCU_BOOST=y
CONFIG_RCU_LAZY=y
CONFIG_RCU_DOUBLE_CHECK_CB_TIME=y

## Disabled in many distros (including Mint low latency). See also
## https://lore.kernel.org/ceph-devel/ZgLrfvRD63aB3gMT@alley/T/
# CONFIG_PRINTK_INDEX is not set

## Enables the scheduler to track the clamped utilization of
## each CPU based on RUNNABLE tasks scheduled on that CPU.
CONFIG_UCLAMP_TASK=y
CONFIG_UCLAMP_BUCKETS_COUNT=5

## Enable missing control groups.
# CONFIG_MEMCG_V1 is not set
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_CGROUP_RDMA=y

## Disable the expert mode (not required).
# CONFIG_EXPERT is not set

## TODO - Are the following settings required??? See:
## https://blog.cloudflare.com/linux-kernel-hardening/
##CONFIG_KEXEC_SIG=y
### CONFIG_KEXEC_SIG_FORCE is not set
##CONFIG_KEXEC_BZIMAGE_VERIFY_SIG=y

## Option useful in VM, not really required for normal PC. See:
## https://blogs.oracle.com/linux/post/crash-hotplug-kernel-handling
# CONFIG_CRASH_HOTPLUG is not set
