## by F.C.
## Last edit: 26/03/2024 (kernel 6.6)

## Use -fstack-protector-strong for best stack canary coverage.
## This feature requires gcc version 4.9 or above that is surely
## available today. This option is strongly recommended, adopted
## in many distro and even set in low-latency & Liquorix kernels.
CONFIG_STACKPROTECTOR_STRONG=y

## Randomize kernel stack offset on syscall entry (i.e. default
## state of kernel stack offset randomization): it makes harder
## corruption attacks that depend on stack address determinism.
CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y
