## by F.C.
## Last edit: 25/09/2024 (kernel 6.6)

## Fall back to the kernel crypto API when the block
## layer inline encryption hardware is not present.
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y

## Enable access to hard disks partitioned under
## AmigaOS (might be required by Amiga emulators).
CONFIG_AMIGA_PARTITION=y

## Disable unnecessary partition support
## (AIX, Alpha OSF, UnixWare, SGI).
# CONFIG_AIX_PARTITION is not set
# CONFIG_OSF_PARTITION is not set
# CONFIG_UNIXWARE_DISKLABEL is not set
# CONFIG_SGI_PARTITION is not set

## Support the Rio Karma MP3 player (it
## uses a proprietary partition table).
CONFIG_KARMA_PARTITION=y
