## by F.C.
## Last edit: 26/03/2024 (kernel 6.6)

## Disable .latency interface for IO throttling
## (still experimental, disabled on many distros).
# CONFIG_BLK_CGROUP_IOLATENCY is not set

## Fall back to the kernel crypto API when the block
## layer inline encryption hardware is not present.
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y

## Enable access to hard disks partitioned under
## AmigaOS (might be required by Amiga emulators).
CONFIG_AMIGA_PARTITION=y

## Disable unneeded partition support
## (AIX, Alpha OSF, UnixWare, SGI).
# CONFIG_AIX_PARTITION is not set
# CONFIG_OSF_PARTITION is not set
# CONFIG_UNIXWARE_DISKLABEL is not set
# CONFIG_SGI_PARTITION is not set
