## by F.C.
## Last edit: 16/04/2025 (kernel 6.12)

## Enabled in many distros.
CONFIG_MODULE_SRCVERSION_ALL=y

## Compress modules with ZSTD (like the kernel). The
## installed modules will be suffixed with ".ko.zst".
## ZSTD increases decompression speed significantly.
CONFIG_MODULE_COMPRESS_ZSTD=y

## Support for decompressing kernel modules by the kernel
## (instead of relying on userspace to perform this task).
CONFIG_MODULE_DECOMPRESS=y
