## by F.C.
## Last edit: 09/03/2025 (kernel 6.12)

## NOTE: memory hotplug is required by the AMDGPU graphics
## driver (see Gentoo wiki). The following required settings
## are all enabled by default in the Gentoo distribution
## kernel (but not on other distros like Debian stable):
##
## CONFIG_MEMORY_HOTPLUG=y
## CONFIG_MEMORY_HOTPLUG_DEFAULT_ONLINE=y
## CONFIG_MEMORY_HOTREMOVE=y
## CONFIG_ZONE_DEVICE=y
## CONFIG_DEVICE_PRIVATE=y

## Enable Transparent Huge Pages (THP) for all applications.
## This setting reduces the overhead of Translation Lookaside
## Buffer (TLB) lookups on machines with large amounts of memory
## by using larger memory pages. However, database workloads may
## perform poorly with THP enabled (so on DB servers, THP should
## be disabled for best performance). Note that THP are enabled
## by default on RHEL and many other Linux distributions.
# CONFIG_TRANSPARENT_HUGEPAGE_MADVISE is not set
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y

## Useful to tune memory cgroup limits and/or
## for job placement within a compute cluster.
CONFIG_IDLE_PAGE_TRACKING=y

## Disable framework that allows kernel subsystems to monitor the
## access frequency of each memory region (disabled on low-latency
## kernels, as well Liquorix / CachyOS / TKG / MX Linux kernels).
# CONFIG_DAMON is not set
