## by F.C.
## Last edit: 09/03/2025 (kernel 6.12)

## Enable as module instead of built-in (like Arch).
CONFIG_PACKET_DIAG=m
CONFIG_UNIX_DIAG=m
CONFIG_INET_DIAG=m
CONFIG_XFRM_USER=m
CONFIG_IPV6_MIP6=m

## Enable software-implemented virtual ISM device
## (loopback-ism), useful to accelerate inter-process
## or inter-containers communication within the same OS.
CONFIG_SMC_LO=y

## Enable connection tracking timeout.
CONFIG_NF_CONNTRACK_TIMEOUT=y
CONFIG_NF_CT_NETLINK_TIMEOUT=m

## Enable state tracking on DCCP connections.
CONFIG_NF_CT_PROTO_DCCP=y

## Required by firewalld.
CONFIG_NF_CT_NETLINK_HELPER=m
CONFIG_NETFILTER_NETLINK_GLUE_CT=y

## These are obsoleted/deprecated.
# CONFIG_NF_CONNTRACK_PROCFS is not set
# CONFIG_NETFILTER_XT_TARGET_NOTRACK is not set

## Enable the connlimit expression.
CONFIG_NFT_CONNLIMIT=m

## Enable matching packets from specific OS.
CONFIG_NFT_OSF=m

## Enable as module instead of built-in (like Arch).
CONFIG_NETFILTER_XTABLES=m

## Enable support for running TIPC on IP-over-InfiniBand devices.
CONFIG_TIPC_MEDIA_IB=y

## Enable the Datagram Congestion Control Protocol (RFC 4340).
CONFIG_IP_DCCP=m
CONFIG_IP_DCCP_CCID3=y

## Enable Multi-Protocol Over ATM (MPOA).
CONFIG_ATM_MPOA=m

## Enable support for tagging frames for the
## Atheros AR9331 SoC with built-in switch.
CONFIG_NET_DSA_TAG_AR9331=m

## Enable support for tagging frames for
## the Renesas RZ/N1 embedded switch.
CONFIG_NET_DSA_TAG_RZN1_A5PSW=m

## Enable Logical Link Layer type 2 connection
## oriented socket support (PF_LLC sockets).
CONFIG_LLC2=m

## Enable support for AppleTalk.
CONFIG_ATALK=m

## Enable X.25 (set of standardized network protocols)
## and LAPB (data link layer, i.e. lower part, of X.25).
CONFIG_X25=m
CONFIG_LAPB=m

## Enable PhoNet, a packet-oriented communication protocol
## developed by Nokia for use with its modems and phones.
CONFIG_PHONET=m

## Add experimental netlink support for nl802154.
CONFIG_IEEE802154_NL802154_EXPERIMENTAL=y

## Add the SKB priority queue scheduler.
CONFIG_NET_SCH_SKBPRIO=m

## Add the Flow Queue Proportional Integral controller Enhanced (FQ-PIE)
## packet scheduling algorithm. See https://tools.ietf.org/html/rfc8033.
CONFIG_NET_SCH_FQ_PIE=m

## Select the queueing discipline that will be used
## by default for all network devices (like Arch).
CONFIG_NET_SCH_DEFAULT=y
# CONFIG_DEFAULT_FQ is not set
# CONFIG_DEFAULT_CODEL is not set
CONFIG_DEFAULT_FQ_CODEL=y
# CONFIG_DEFAULT_FQ_PIE is not set
# CONFIG_DEFAULT_SFQ is not set
# CONFIG_DEFAULT_PFIFO_FAST is not set
CONFIG_DEFAULT_NET_SCH="fq_codel"

## Enable as module instead of built-in (like Arch/Mint).
CONFIG_NET_CLS_CGROUP=m

## Not required (only for kernel developer).
# CONFIG_BATMAN_ADV_TRACING is not set

## Enable as module instead of built-in (like Arch).
CONFIG_NETLINK_DIAG=m

## Enables IEC 62439 support, i.e. High-availability Seamless
## Redundancy (HSR) and Parallel Redundancy Protocol (PRP).
CONFIG_HSR=m

## Expose a character device that allows user space to
## implement endpoints of QRTR, for purpose of tunneling
## data to other hosts or testing purposes.
CONFIG_QRTR_TUN=m

## Enables support for the bluetooth Android Open
## Source Project defined HCI vendor extensions.
CONFIG_BT_AOSPEXT=y

## Export Bluetooth internals in debugfs (like Mint/Liquorix).
CONFIG_BT_DEBUGFS=y

## Enable Amlogic protocol support (enables Bluetooth HCI over
## serial port interface for Amlogic Bluetooth controllers).
CONFIG_BT_HCIUART_AML=y

## Disable RxRPC dynamic debugging messages.
# CONFIG_AF_RXRPC_DEBUG is not set

## Do not export extensive information about
## the internal state of mac80211 in debugfs.
# CONFIG_MAC80211_DEBUGFS is not set

## Hostnames (monitor addresses) will be resolved
## using the CONFIG_DNS_RESOLVER kernel facility.
CONFIG_CEPH_LIB_USE_DNS_RESOLVER=y

## Add support for NFC (Near Field Communication) over UART.
CONFIG_NFC_NCI_UART=m

## Enable support for some NFC devices.
CONFIG_NFC_VIRTUAL_NCI=m
CONFIG_NFC_FDP=m
CONFIG_NFC_FDP_I2C=m
CONFIG_NFC_PN532_UART=m
CONFIG_NFC_MRVL_UART=m
CONFIG_NFC_MRVL_I2C=m
CONFIG_NFC_MRVL_SPI=m
CONFIG_NFC_ST_NCI=m
CONFIG_NFC_ST_NCI_I2C=m
CONFIG_NFC_ST_NCI_SPI=m
CONFIG_NFC_S3FWRN5=m
CONFIG_NFC_S3FWRN5_I2C=m
CONFIG_NFC_S3FWRN82_UART=m
CONFIG_NFC_ST95HF=m

## Enable support of SMD based ipcrouter
## channel in Qualcomm IPC router protocol.
CONFIG_QRTR_SMD=m
