## by F.C.
## Last edit: 26/03/2024 (kernel 6.6)

## ReiserFS is deprecated, I kept it only to access old
## partitions. Anyway, I don't need ReiserFS statistics.
# CONFIG_REISERFS_PROC_INFO is not set

## Enable XFS Realtime subvolume support.
CONFIG_XFS_RT=y

## Enable XFS online scrub (metadata check). EXPERIMENTAL.
CONFIG_XFS_ONLINE_SCRUB=y

## Enable XFS online scrub repair. EXPERIMENTAL - CAUTION!
##CONFIG_XFS_ONLINE_REPAIR=y

## Enable as module instead of built-in (like Arch/Mint/Liquorix).
CONFIG_BTRFS_FS=m

## Enable support to verifying signatures of verity files
## against the X.509 certificates that have been loaded
## into the ".fs-verity" kernel keyring (like Arch/Mint).
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y

#### Enable as module instead of built-in (like Arch/Mint/Liquorix).
CONFIG_QFMT_V2=m

## Turn on some features of Overlayfs (like Arch/Mint/Liquorix).
CONFIG_OVERLAY_FS_XINO_AUTO=y

## Default input/output character set for FAT filenames. Should
## match the character set that most of your FAT filesystems use
## and can be overridden with the "iocharset" mount option for FAT
## filesystems. Note: "utf8" is not recommended for FAT filesystems.
## Linux Mint has iso8859-1 while other distros use ascii or utf8!
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"

## Enable HugeTLB Vmemmap Optimization (HVO). This is called
## CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP_DEFAULT_ON on kernel-6.x
## and CONFIG_HUGETLB_PAGE_FREE_VMEMMAP_DEFAULT_ON on kernels-5.x.
##CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP_DEFAULT_ON=y
##CONFIG_HUGETLB_PAGE_FREE_VMEMMAP_DEFAULT_ON=y

## Enables the /dev/ecryptfs entry for use by ecryptfsd. This
## allows for userspace to wrap/unwrap file encryption keys by
## other backends, like OpenSSL (enabled on Mint/Liquorix).
CONFIG_ECRYPT_FS_MESSAGING=y

## Advanced option for JFFS2 (Journalling Flash File System v2).
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
CONFIG_JFFS2_LZO=y
# CONFIG_JFFS2_RUBIN is not set
# CONFIG_JFFS2_CMODE_NONE is not set
# CONFIG_JFFS2_CMODE_PRIORITY is not set
# CONFIG_JFFS2_CMODE_SIZE is not set
CONFIG_JFFS2_CMODE_FAVOURLZO=y

## Disable atime support in UBIFS: originally UBIFS did not support
## atime, because it looked like a bad idea due increased flash wear.
## Now can be supported but I prefer to not build it for now.
# CONFIG_UBIFS_ATIME_SUPPORT is not set

## Support CramFs image directly mapped in physical memory.
CONFIG_CRAMFS=m
CONFIG_CRAMFS_MTD=y

## Enable access to QNX4/QNX6 filesystems (read only).
CONFIG_QNX4FS_FS=m
CONFIG_QNX6FS_FS=m

## Default pstore use deflate (ZLIB) to store debg info into
## not-volatile memory, so we can disable unused compressors.
# CONFIG_PSTORE_LZO_COMPRESS is not set
# CONFIG_PSTORE_LZ4_COMPRESS is not set
# CONFIG_PSTORE_LZ4HC_COMPRESS is not set
# CONFIG_PSTORE_842_COMPRESS is not set

## System V/Xenix/V7/Coherent file system support not required.
# CONFIG_SYSV_FS is not set

## Enable mounting of share folders in VirtualBox Linux guests.
CONFIG_VBOXSF_FS=y

## Add support for NFS v2 (RFC 1094).
CONFIG_NFS_V2=m

## This option makes the NFS client advertise to NFSv4.1 servers that
## it can support NFSv4 migration (enabled on Arch/Mint/Liquorix).
CONFIG_NFS_V4_1_MIGRATION=y

## Disable insecure Kerberos encryption types (default on kernel 6.x).
CONFIG_SUNRPC_DISABLE_INSECURE_ENCTYPES=y

## Build the SMB3 server inside the kernel (as a module). Mint/Liquorix do that.
CONFIG_SMB_SERVER=m
CONFIG_SMB_SERVER_SMBDIRECT=y
CONFIG_SMB_SERVER_CHECK_CAP_NET_ADMIN=y
CONFIG_SMB_SERVER_KERBEROS5=y

## Disable AFS dynamic debugging.
# CONFIG_AFS_DEBUG is not set

## Build the ASCII NLS code as module like many other distros.
CONFIG_NLS_ASCII=m

## Disable Distributed Lock Manager (DLM)  debugging.
# CONFIG_DLM_DEBUG is not set

## Actually NTFSv3 allow writes in dolphin only within some
## folders. For the moment I'll keep the NFTS3g FUSE filesystem.
# CONFIG_NTFS3_FS is not set
