## by F.C.
## Last edit: 09/03/2025 (kernel 6.12)

## ReiserFS is deprecated, I kept it only to access old
## partitions. Anyway, I don't need ReiserFS statistics.
# CONFIG_REISERFS_PROC_INFO is not set

## Enable XFS Realtime subvolume support.
CONFIG_XFS_RT=y

## Enable XFS online scrub (metadata check). EXPERIMENTAL.
CONFIG_XFS_ONLINE_SCRUB=y

## Enable XFS online scrub repair. EXPERIMENTAL - CAUTION!
## Note that the filesystem must be formatted with secondary
## metadata, such as reverse mappings and inode parent pointers.
##CONFIG_XFS_ONLINE_REPAIR=y

## Enable as module instead of built-in (like Arch/Mint/Liquorix).
CONFIG_BTRFS_FS=m

## Enable support to verifying signatures of verity files
## against the X.509 certificates that have been loaded
## into the ".fs-verity" kernel keyring (like Arch/Mint).
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y

## Enable as module instead of built-in (like Arch/Mint/Liquorix).
CONFIG_QFMT_V2=m

## Turn on some features of Overlayfs (like Arch/Mint/Liquorix).
CONFIG_OVERLAY_FS_XINO_AUTO=y

## Default input/output character set for FAT filenames. Should
## match the character set that most of your FAT filesystems use
## and can be overridden with the "iocharset" mount option for FAT
## filesystems. Most distros today uses the following settings.
CONFIG_FAT_DEFAULT_IOCHARSET="ascii"
CONFIG_FAT_DEFAULT_UTF8=y

## Currently, NTFSv3 allow writes in KDE/PLASMA Dolphin only within
## some folders. For the moment I'll keep the NFTS3g FUSE filesystem.
# CONFIG_NTFS3_FS is not set

## Enable HugeTLB Vmemmap Optimization (HVO) by default.
## Not enabled by default on CachyOS and TKG kernels, so
## it probably hurts performance. Keep it disabled for now.

## Enable HugeTLB Vmemmap Optimization (HVO) by default. NOTE: not
## enabled by default on CachyOS and TKG kernels (probably it will
## hurt performance). Just for reference, keep it disabled for now.
##CONFIG_HUGETLB_PAGE_OPTIMIZE_VMEMMAP_DEFAULT_ON=y

## Enables the /dev/ecryptfs entry for use by ecryptfsd. This
## allows for userspace to wrap/unwrap file encryption keys by
## other backends, like OpenSSL (enabled on Mint/Liquorix/MX).
CONFIG_ECRYPT_FS_MESSAGING=y

## Advanced option for JFFS2 (Journalling Flash File System v2).
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
CONFIG_JFFS2_LZO=y
# CONFIG_JFFS2_RUBIN is not set
# CONFIG_JFFS2_CMODE_NONE is not set
CONFIG_JFFS2_CMODE_PRIORITY=y
# CONFIG_JFFS2_CMODE_SIZE is not set
# CONFIG_JFFS2_CMODE_FAVOURLZO is not set

## Disable atime support in UBIFS: originally UBIFS did not support
## atime, because it looked like a bad idea due increased flash wear.
## Now it can be supported, but I prefer to not build it for now.
# CONFIG_UBIFS_ATIME_SUPPORT is not set

## Support CramFs image directly mapped in physical memory.
CONFIG_CRAMFS=m
CONFIG_CRAMFS_MTD=y

## Proprietary file system used by the Rio Karma music player.
CONFIG_OMFS_FS=m

## Enable access to QNX4/QNX6 filesystems (read only).
CONFIG_QNX4FS_FS=m
CONFIG_QNX6FS_FS=m

## System V/Xenix/V7/Coherent file system support not required.
# CONFIG_SYSV_FS is not set

## Enable mounting of share folders in VirtualBox Linux guests.
CONFIG_VBOXSF_FS=m

## Add support for NFS v2 (RFC 1094).
CONFIG_NFS_V2=m

## This is for testing purposes, not for use in production.
# CONFIG_NFSD_FLEXFILELAYOUT is not set

## Enables over-the-wire message compression for SMB 3.1.1.
CONFIG_CIFS_COMPRESSION=y

## Build the SMB3 server inside the kernel (as a module). Mint/Liquorix do that.
CONFIG_SMB_SERVER=m
CONFIG_SMB_SERVER_SMBDIRECT=y
CONFIG_SMB_SERVER_CHECK_CAP_NET_ADMIN=y
CONFIG_CIFS_SMB_DIRECT=y
CONFIG_SMB_SERVER_KERBEROS5=y

## Disable AFS dynamic debugging.
# CONFIG_AFS_DEBUG is not set

## Build the ASCII NLS code as module like many other distros.
CONFIG_NLS_ASCII=m

## Disable Distributed Lock Manager (DLM) debugging.
# CONFIG_DLM_DEBUG is not set
