## by F.C.
## Last edit: 01/09/2024 (kernel 6.6)

## Building this as module is required to enable TRUSTED_KEYS_TEE.
CONFIG_TRUSTED_KEYS=m

## Enforces restrictions on unprivileged users reading the kernel
## syslog via dmesg(8). If not selected, no restrictions will be
## enforced unless "dmesg_restrict" sysctl is explicitly set to 1.
CONFIG_SECURITY_DMESG_RESTRICT=y

## Portion of low virtual memory which should be protected
## from userspace allocation (value for x86, ia64, ppc64).
CONFIG_LSM_MMAP_MIN_ADDR=65536

## Enable TOMOYO Linux, pathname-based access control.
CONFIG_SECURITY_TOMOYO=y

## A comma-separated list of Linux Security Modules (LSMs) in
## initialization order. Any LSM left off this list will be
## ignored. This can be overridden with the "lsm=" parameter.
## CONFIG_LSM="landlock,lockdown,yama,integrity,apparmor,bpf"
## The following CONFIG_LSM is from the Liquorix kernel 6.1.
CONFIG_LSM="lockdown,yama,bpf"

## All page allocator and slab allocator memory will be zeroed when
## allocated, eliminating many kinds of "uninitialized heap memory"
## flaws, especially heap content exposures. The performance impact
## is in most cases < 1%. Can be disabled with "init_on_alloc=0".
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y

## At the end of functions, always zeros any caller-used register
## content (improve security with less than 1% performance impact).
CONFIG_ZERO_CALL_USED_REGS=y

## Trigger a BUG when data corruption is detected in kernel memory
## structures, when they get checked for validity (some are anyway).
## When this option is enabled, the kernel will print out the contents
## of the registers and a stack trace, then it will kill the offending
## thread (instead of letting the system run with known corruption). See
## https://lkw.readthedocs.io/en/latest/doc/06_kernel_bug_reporting.html
## and https://kernelnewbies.org/FAQ/BUG
CONFIG_BUG_ON_DATA_CORRUPTION=y
