## by F.C.
## Last edit: 26/03/2024 (kernel 6.6)

## Benchmark all available RAID6 PQ functions on
## init and choose the fastest one when required.
CONFIG_RAID6_PQ_BENCHMARK=y

## Only for testing modules (can be disabled).
# CONFIG_PRIME_NUMBERS is not set

## Enable as module instead of built-in (like Arch).
CONFIG_LIBCRC32C=m
