## by F.C.
## Last edit: 21/09/2024 (kernel 6.6)

## Benchmark all available RAID6 PQ functions on
## init and choose the fastest one when required.
CONFIG_RAID6_PQ_BENCHMARK=y

## Required only for testing purposes (can be disabled).
# CONFIG_PRIME_NUMBERS is not set

## Enable this option to get numa CMA areas so that NUMA devices can get local
## memory by DMA coherent APIs. This should improve performance and reduce latency.
## See https://lists.linux-foundation.org/pipermail/iommu/2020-August/047691.html
## (old implementation) and https://lwn.net/Articles/937770/ (new implementation).
## Now this option is enabled by default (I keep it for reference).
##CONFIG_DMA_NUMA_CMA=y
