## by F.C.
## Last edit: 09/03/2025 (kernel 6.12)

## Set default loglevels (like Arch).
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=4
CONFIG_CONSOLE_LOGLEVEL_QUIET=1

## Disable remote kernel debugging via GDB.
# CONFIG_KGDB is not set

## Remove unnecessary overhead and OOM risk (like Arch).
# CONFIG_PAGE_EXTENSION is not set

## Disable page poisoning (i.e. filling the pages with poison
## patterns after free_pages() + verifying the patterns before
## alloc_pages) as it has a performance impact if enabled.
# CONFIG_PAGE_POISONING is not set

## Low-overhead sampling-based memory safety error detector.
## Set the sample interval (in ms) with which heap allocations
## will be guarded by KFENCE: 0 disable KFENCE. To enable it,
## set to 100 with boot parameter "kfence.sample_interval".
CONFIG_KFENCE_SAMPLE_INTERVAL=0

## Expedited RCU CPU stall timeout in milliseconds: 0 (default)
## means value of CONFIG_RCU_CPU_STALL_TIMEOUT converted in ms,
## i.e. 60ms. Commented out to restore the default: 20ms is too
## low and sometimes causes an RCU stall at boot on ZFS modules.
##CONFIG_RCU_EXP_CPU_STALL_TIMEOUT=20

## Disable RCU tracing.
# CONFIG_RCU_TRACE is not set

## Disable unnecessary kernel tracers.
# CONFIG_FUNCTION_GRAPH_RETVAL is not set
# CONFIG_FPROBE_EVENTS is not set

## Disable this option to reduces the memory
## footprint of the running kernel (like Arch).
# CONFIG_TRACE_EVAL_MAP_FILE is not set

## Disable the kernel runtime verification infrastructure.
# CONFIG_RV is not set

## Disable remote debugging over FireWire (like Arch).
# CONFIG_PROVIDE_OHCI1394_DMA_INIT is not set

## Disable options useful only for kernel debugging when the machine
## crashes very early (before the console code is initialized). Such
## options requires an "usb debug device" and are not recommended for
## normal operations, because they interfere with with klogd/syslogd.
# CONFIG_EARLY_PRINTK_DBGP is not set
# CONFIG_EARLY_PRINTK_USB_XDBC is not set

## Disable the KUNIT framework: useful only
## for kernel/driver developers (like Arch).
# CONFIG_KUNIT is not set

## Disable unnecessary kernel runtime testings.
# CONFIG_ATOMIC64_SELFTEST is not set
# CONFIG_ASYNC_RAID6_TEST is not set
# CONFIG_TEST_KSTRTOX is not set
# CONFIG_TEST_VMALLOC is not set
# CONFIG_TEST_BPF is not set
# CONFIG_TEST_HMM is not set
# CONFIG_MEMTEST is not set

## Settings that are required to overcome the dmesg warning
## "hid_bpf: error while preloading HID BPF dispatcher: -22".
## The PAHOLE utility (dev-util/pahole) is also required, and
## it MUST BE INSTALLED BEFORE the Linux kernel is configured
## or emerged, otherwise some of the following options will be
## ignored (and will not appear in 'menuconfig' or 'xconfig').
CONFIG_DEBUG_KERNEL=y
# CONFIG_LATENCYTOP is not set
# CONFIG_BOOT_PRINTK_DELAY is not set
# CONFIG_DEBUG_INFO_NONE is not set
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set
CONFIG_DEBUG_INFO_BTF=y
# CONFIG_PAGE_OWNER is not set
# CONFIG_LOCK_TORTURE_TEST is not set
# CONFIG_RCU_TORTURE_TEST is not set
# CONFIG_DEBUG_BOOT_PARAMS is not set

## Enable some additional detectors (from CachyOS/TKG/Debian kernels).
CONFIG_DETECT_HUNG_TASK=y

## Do not build the "test_lockup" module.
# CONFIG_TEST_LOCKUP is not set
