
// by F.C.
// Allow members of the 'wheel' group to execute commands 'poweroff',
// 'reboot', 'hibernate' (if allowed) and 'suspend', without sudo and
// password authentication; if you prefer sudo (without authentication)
// disable this polkit rule, and see /etc/sudoers.d/my-sudo-rules).

polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel")) {
        if (action.id == "org.freedesktop.login1.power-off" ||
            action.id == "org.freedesktop.login1.reboot"    ||
            action.id == "org.freedesktop.login1.hibernate" ||
            action.id == "org.freedesktop.login1.suspend") {
            return polkit.Result.YES;
        }
    }
});

// by F.C.
// Allow members of the wheel group to mount filesystems without
// password authentication (to easily mount Windows's partitions).
// The required 'action.id' can be easily viewed (at least in KDE)
// clicking the 'Details' button inside the PolicyKit1 agent window.
// Note: some other Linux distributions have a more permissive rule
// (i.e. 'action.id.indexOf("org.freedesktop.udisks2.") == 0').

polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel")) {
        if (action.id == "org.freedesktop.udisks2.filesystem-mount-system") {
            return polkit.Result.YES;
        }
    }
});
